@use "./vendors/vendors" as *;
@use "./abstracts/abstracts" as *;
@use "./base/base" as *;
@use "./components/components" as *;
@use "./layout/layout" as *;
@use "./pages/pages" as *;
@use "./themes/themes" as *;
@use "settings" as *;
#game {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  grid-template-rows: repeat(9, 30px);
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  background: #ccc;
  border: 1px solid #999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: red;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#reset {
  margin-bottom: 10px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}
