@use "./vendors/vendors" as *;
@use "./abstracts/abstracts" as *;
@use "./base/base" as *;
@use "./components/components" as *;
@use "./layout/layout" as *;
@use "./pages/pages" as *;
@use "./themes/themes" as *;
@use "settings" as *;
#juego {
  display: grid;
  grid-template-columns: repeat(9, 30px);
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  background-color: rgb(20, 20, 20);
}
